body{
    height: 100vh;
    width: 100vw;
    background-image: url("/DeathStar.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    color: yellow;
    font-size: 1.3rem;
}

h1 {
    filter: drop-shadow(-1px  0 5px red);
    color: black;
    font-size: 4rem;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: yellow;
}

select {
    background-color: yellow;
    height: 2rem;
    width: 21rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    border-radius: 10px 10px 0 0;
    outline: none;
}

#objectiveList {
    width: 80%;
}

table {
    margin: auto;
}
iframe {
    display: none;
}

input {
    height: 3.2rem;
    width: 21rem;
    border: 2px solid red;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    padding-left: 1rem;
    outline: none;
    font-size: 1.3rem;
    line-height: 3.2rem;
    margin-bottom: 0.5rem;
}

input:focus {
    box-shadow: 0 0 30px 10px red;
    transition: 1s ease;
}

button {
    height: 4rem;
    width: 4rem;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.418);
    margin-left: 2rem;
    outline: none;
    border-radius: 30px 5px 30px 5px;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 0.2rem;
}

button:hover {
    animation: laserGlow 2s linear infinite;
    cursor: pointer;
}

#txt-div {
    height: 130%;
    width: 25%;
    top: 0;
    position: absolute;
    margin-left: 37.5%;
    transform: rotateX(70deg);
    overflow: hidden;

}

#txt-inner{
    top: 1200px;
    position: absolute;
    color: yellow;
    font-size: 3rem;
    animation: glidingText 60s linear infinite;
}

#gliding-title {
    color: yellow;
    filter: drop-shadow(0  0 0 red);
}

@keyframes laserGlow {
    0%, 20%, 40%, 60%, 80%, 100% {
        box-shadow: 0 0 30px 0 red;
    }
    10%, 30%, 50%, 70%, 90% {
        box-shadow: 0 0 30px 10px red;
    }
}

@keyframes glidingText {
    0% {
        top: 1000px;
    }
    70% {
        top: -3000px;
    }
}